<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" href="css/bootstrap-grid.css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" href="css/custom.css" />
    <title>Document</title>
</head>
<body>
<div class="header-container">
    <div class="header">ServeMe!</div>
</div>


    <div class="container">
        <section>
            <div class="menu-container">
                <div class="title title-2">MY BASKET</div>
                <div th:each="orderedMenuItem : ${currentOrderedItemList}"class="menu-item row">
                    <div class="col-9">
                        <div class="row">
                            <div th:text="${orderedMenuItem.getMenuItem().getName()}" class="menu-item-name col-9">name</div>
                            <div th:text="${orderedMenuItem.getMenuItem().getPrice()}" class="menu-item-price col-3">price</div>
                            <div th:text="${orderedMenuItem.getMenuItem().getDescription()}" class="menu-item-description col-12">description</div>
                        </div>
                    </div>
                    <div class="col-1">
                        <div th:text="${orderedMenuItem.getAmount()}"></div>
                    </div>
                    <div class="col-2">
                        <form action="removeItemFromOrder">
                            <input class="form-input-field" type="hidden" name="sessionId" th:value="${orderedMenuItem.getSessionId()}">
                            <input class="form-input-field" type="submit" value="X">
                        </form>
                    </div>
                </div>
                    <div th:text="${price}">Price for current order</div>
            </div>
        </section>
    </div>
    <section>
        <div class="form-container">
            <a class="form-input-field form-input-field" href="menuItemsBack">Back to menu</a>
            <form action="/pay" method="get">
                <input name="price" hidden th:value="${price}">
                <input class="form-input-field" type="submit" value="Pay">
            </form>
            <div th:if="${paymentError != null}" th:text="${paymentError}" class="alert">
        </div>
    </section>



<!--<div class="container">-->
<!--    <section>-->
<!--        <div class="menu-container">-->
<!--            <div class="title title-2">MY BASKET</div>-->
<!--            <div th:each="orderedMenuItem : ${currentOrder.getOrderMenuItems()}"class="menu-item row">-->
<!--                <div class="col-9">-->
<!--                    <div class="row">-->
<!--                        <div th:text="${orderedMenuItem.getMenuItem().getName()}" class="menu-item-name col-9">name</div>-->
<!--                        <div th:text="${orderedMenuItem.getMenuItem().getPrice()}" class="menu-item-price col-3">price</div>-->
<!--                        <div th:text="${orderedMenuItem.getMenuItem().getDescription()}" class="menu-item-description col-12">description</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-1">-->
<!--                    <div th:text="${orderedMenuItem.getAmount()}"></div>-->
<!--                </div>-->
<!--                <div class="col-2">-->
<!--                    <form action="removeItemFromOrder">-->
<!--                        <input class="form-input-field" type="hidden" name="sessionId" th:value="${orderedMenuItem.getSessionId()}">-->
<!--                        <input class="form-input-field" type="submit" value="X">-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div th:text="${currentOrder.getTotalOrderPrice()}">Price for current order</div>-->
<!--        </div>-->
<!--    </section>-->
<!--</div>-->


</body>
</html>