<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" href="css/bootstrap-grid.css" />
        <link th:href="@{/css/style.css}" rel="stylesheet" href="css/custom.css" />
        <title>Category Search Page</title>
    </head>
    <body>
        <div class="header-container">
            <div class="header">ServeMe!</div>
        </div>

            <section >
                <div class="category-container container-sm">
                <div class="resultList row">
                    <div th:each ="menuItem : ${resultList}">
                        <a class="menu-item row" th:href="@{'menuItem/' + ${menuItem.getId()}+'/show'}">
                            <div th:text="${menuItem.getName()}" class="menu-item-name col-9">name</div>
                            <div th:text="${menuItem.getPrice()}" class="menu-item-price col-3">price</div>
                            <div th:text="${menuItem.getDescription()}" class="menu-item-description col-12">description</div>
                        </a>
                    </div>
                </div>
                </div>
            </section>

    </body>
</html>