<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" href="css/bootstrap-grid.css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" href="css/custom.css" />
    <title>Document</title>
</head>
<body>
<div class="header-container">
    <div class="header">ServeMe!</div>
</div>

    <div class="container">
        <section>
            <div class="menu-container">
                <div class="menu-item row">
                    <div th:text="${menuItem.getName()}" class="menu-item-name col-9">name</div>
                    <div th:text="${menuItem.getPrice()}" class="menu-item-price col-3">price</div>
                    <div th:text="${menuItem.getDescription()}" class="menu-item-description col-12">description</div>
                    <div th:each="category: ${menuItem.getCategories()}" class="col-3">
                        <div th:text="${category.getName()}" class="menu-item-category"></div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="form-container">
                <form th:object="${orderMenuItem}" action="/addMenuItem">
                    <input class="form-input-field" type="hidden" name="id" th:value="${menuItem.id}">
                    <input class="form-input-field" type="number" min="0" name="amount"><br>
                    <div class="alertextramargin" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error<br/></div>
                    <input class="form-input-field" type="submit" value="Add">
                </form>
            </div>
        </section>
    </div>




</body>
</html>
