<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" href="css/bootstrap-grid.css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" href="css/custom.css" />
    <title>Document</title>
</head>
<body>
<div class="header-container">
    <div class="header">ServeMe!</div>
</div>

    <div class="container">
      <section>
            <div class="menu-container">
                <div th:text= "${session.business.getName()}" class="title title-1"><h2>TITLE</h2></div>
                <div class="title title-2">MENU</div>
                <div th:each="menuItem : ${menuItems}">
                    <a class="menu-item row" th:href="@{'menuItem/' + ${menuItem.getId()}+'/show'}">
                    <div th:text="${menuItem.getName()}" class="menu-item-name col-9">name</div>
                    <div th:text="${menuItem.getPrice()}" class="menu-item-price col-3">price</div>
                    <div th:text="${menuItem.getDescription()}" class="menu-item-description col-12">description</div>
                    </a>
                </div>
            </div>
        </section>

        <section>
            <div class="category-container">
                <form method="get" th:action="showCategory">
                   <label class="search-label">Search on category</label>
                    <select id="category-search" name="categoryName" >
                        <option th:each="category : ${categories}"
                                th:value="${category.getName()}"
                                th:text="${category.getName()}"> categories </option>
                    </select>
                    <input type="submit" value="submit"/>
                </form>
            </div>
        </section>


        <!--    Basket-->
        <section th:if="${currentOrderedItemList.size()>0}">
            <div class="form-container">
                <a class="form-input-field" href="/viewBasket">View Basket</a>
            </div>
        </section>
    </div>
</body>
</html>



<!--<section>-->
<!--    <div class="menu-container">-->
<!--        <div class="title title-2">MENU</div>-->
<!--        <div th:each="menuItem : ${menuItems}">-->
<!--            <a class="menu-item row" th:href="@{'menuItem/' + ${menuItem.getId()}+'/show'}">-->
<!--                <div th:text="${menuItem.getName()}" class="menu-item-name col-9">name</div>-->
<!--                <div th:text="${menuItem.getPrice()}" class="menu-item-price col-3">price</div>-->
<!--                <div th:text="${menuItem.getDescription()}" class="menu-item-description col-12">description</div>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--&lt;!&ndash;    Basket&ndash;&gt;-->
<!--<section th:if="${currentOrder.hasOrderMenuItems()}">-->
<!--    <div class="form-container">-->
<!--        <a class="form-input-field" href="/viewBasket">View Basket</a>-->
<!--    </div>-->
<!--</section>-->
<!--</div>-->