<section>
    <div class="form-container">
        <form th:object="${newMenuItem}" th:action="@{/createMenuItem/}" method="post">
            <input  th:field="*{name}" class="form-input-field" type="text" name="name" placeholder="Name" />
            <input  th:field="*{price}" class="form-input-field" type="text" name="name" placeholder="Price" />
            <input  th:field="*{description}" class="form-input-field" type="text" name="name" placeholder="Description" />
            <button class="form-input-field" type="submit" href="/">+</button>
        </form>
    </div>
</section>