<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" href="css/bootstrap-grid.css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" href="css/custom.css" />
    <title>Document</title>
</head>
<body>
<div class="header-container">
    <div class="header">ServeMe!</div>
</div>

<div class="container">

    <section>
        <div class="rest-container">
            <div th:each="business : ${businesses}" >
                <a th:href="@{'/business/' + ${business.id}}" class="rest-link row" href="#" style="display: block">
                    <div th:text="${business.getName()}" class="ltitle">Name</div>
                    <p th:text="${business.getDescription()}">Description</p>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="form-container">
            <form th:object="${newBusiness}" th:action="@{/createBusiness/}" method="post">
                <input  th:field="*{name}" class="form-input-field" type="text" name="name" placeholder="Name" />
                <input  th:field="*{description}" class="form-input-field" type="text" name="name" placeholder="Description" />
                <button class="form-input-field" type="submit" href="/">+</button>
            </form>
        </div>
    </section>

</div>
</body>
</html>
