<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" href="css/bootstrap-grid.css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" href="css/custom.css" />
    <title>Document</title>
</head>
<body>
<div class="header-container">
    <div class="header">ServeMe!</div>
</div>

<div class="container">

    <section>
        <div class="info-container">
            <div th:text= "${business.getName()}" class="title title-1">TITLE</div>
            <p th:text= "${business.getDescription()}">Description</p>
        </div>
    </section>

    <section>
        <div class="menu-container">
            <div class="title title-2">MENU</div>
            <div th:each="menuItem : ${business.getMenuItems()}" class="menu-item row">
                <div th:text="${menuItem.getName()}" class="menu-item-name col-9">name</div>
                <div th:text="${menuItem.getPrice()}" class="menu-item-price col-3">price</div>
                <div th:text="${menuItem.getDescription()}" class="menu-item-description col-12">description</div>
            </div>
        </div>
    </section>
    <section>
        <div class="button-container">
            <a href="/addNewBooking" class="rest-link row" style="display: block">Make Reservation</a>
        </div>
        <div class="button-container">
            <a href="/showMenu" class="rest-link row" style="display: block">Make Order</a>
        </div>
    </section>
    <div th:if="${manage != null && manage}">
        <section th:replace="ordering/menuItemForm.html :: section"></section>
    </div>
</div>
</body>
</html>
