.center{
    text-align: center;
}

.title {
    margin: 1rem auto;
}

.restaurant-description {
    max-width: 500px;
    margin: 1rem auto;
    text-align: justify;
}

.header {

}
.header div {
    max-width: 500px;
    margin: 1rem auto;
    background-color: black;
    color: white;
    padding-left: 5px;
}

.menu{
    max-width: 500px;
    margin: 1rem auto;
}

.menu-item {
    margin-bottom: 1rem;
}
.menu-item-name {
    font-weight: bold;
}
.menu-item-price{
    text-align: right;
    font-weight: bold;
}
.menu-item-description{
    text-align: justify;
}

.frag {
    border: 1px solid red;
    background-color: brown;
    color: lightblue;
}

