html,
body {
    min-height: 100%;
    box-sizing: border-box;
}
body,
div,
form,
input,
select{
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: rgb(40, 40, 40);
}

/* *{
    border: solid rgba(255, 0, 0, 0.308);
} */
.alertextramargin{
    text-align: left;
    padding: 2px;
    background-color: #dc3545;
    color: white;
    margin-bottom: 25px;
}

.alert {
    text-align: center;
    padding: 2px;
    background-color: #dc3545;
    color: white;
}
.success {
    text-align: center;
    padding: 2px;
    background-color: #48a028;
    color: white;
}

.button-container{
    text-align: center;
}
.button-container a{
    display:block;
    padding:0.35em 1.2em;
    border:0.1em solid #212529;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#212529;
    text-align:center;
    transition: all 0.2s;
}
.button-container a:hover{
    color:#FFFFFF;
    background-color:#212529;
}


.rest-container {
    text-decoration: none;
}

.rest-container *,
.rest-link > * {
    text-decoration: none;
    color: inherit;
}
.rest-container *:hover,
.rest-link > *:hover {
    text-decoration: none;
    color: inherit;
}

.rest-link{
    transition: 0.1s;
}

.rest-link:hover{
    background-color: #dddddd;
}




.header-container {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header {
    width: 100%;
    max-width: 375px;
    padding: 0.5rem;
    margin: auto;
    background-color:  rgb(40, 40, 40);
    color: white;
    text-align: center;
}


.ltitle {
    font-weight: bold;
}

.title {
    position: relative;
    text-align: center;
    margin: 1rem 0;
}

.title::after{
    position: absolute;
    display: block;
    content:"";
    left: 40%;
    right: 40%;

    border-bottom: 1px solid rgb(40, 40, 40);
}

.container {
    padding-top: 2rem;
}
.ad-container,
.button-container,
.rest-container,
.form-container,
.menu-container,
.info-container,
.category-container{
    width: 100%;
    max-width: 375px;
    padding: 1rem 1rem;
    margin: auto;
}

.form-input-field{
    height: 2rem;
    width: 100%;
    margin-bottom: 1rem;
}

.menu-item {
    margin-bottom: 1rem;
}
.menu-item-name {
    font-weight: bold;
}
.menu-item-price{
    text-align: right;
    font-weight: bold;
}
.menu-item-description{
    text-align: justify;
}
.category-container{
    padding-top: 5rem;
}