<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" href="css/bootstrap-grid.css" />
        <link th:href="@{/css/style.css}" rel="stylesheet" href="css/custom.css" />
        <title>ServeMe</title>
    </head>
    <body>
        <div class="header-container">
            <div class="header">Login!</div>
        </div>

        <div class="container">
            <section>
                <div class="form-container">
                    <form action="#" th:action="@{/loginpost}" th:object="${loginRequest}" method="post">
                        <div class="alert" th:if="${session.messageToLogin != null}" th:text="${session.messageToLogin}"></div>
                        <div class="title">Please fill email and pass.</div>
                        <label><b>Email</b></label>
                        <input type="text" th:field="*{email}" class="form-input-field" placeholder="email" required/>
                        <label><b>Password</b></label>
                        <input type="password" th:field="*{password}" class="form-input-field" placeholder="pwssword" required/>
                        <div th:if="${loginError != null}" th:text="${loginError}" class="alert">
                        </div>
                        <br>
                            <button type="submit" class="form-input-field">Login</button>
                        <div class="title">
                            <p>want to create new account? <a href="/register">Register</a>.</p>
                        </div>

                    </form>

                </div>
            </section>
        </div>
    </body>
</html>