<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" href="css/bootstrap-grid.css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" href="css/custom.css" />
    <link th:href="@{/css/passwordvalidator.css}" rel="stylesheet" href="css/custom.css" />
    <script type="text/javascript" th:src="@{/js/passwordvalidator.js}"></script>
    <title>ServeMe</title>
</head>
<body>
<div class="header-container">
    <div class="header">Register</div>
</div>

<div class="container">
    <section>
        <div class="form-container">
            <form action="#" th:action="@{/register}" th:object="${registerRequest}" method="post">
                <div class="alert" th:if="${messageToRegister != null}" th:text="${messageToRegister}"></div>
                <div class="title">Please fill in this form to create an account.</div>
                <label><b>Email</b></label>
                <input type="text" th:field="*{email}" class="form-input-field" placeholder="email" required/>
                <div class="alertextramargin" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error<br/><br/></div>
                <label class="form-input-field"><b>Password</b></label>
                <input onkeyup="displaydiv();validate();" id="password" type="password" th:field="*{password}" class="form-input-field" placeholder="pwssword" required/>
                <div class="alertextramargin" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error<br/><br/></div>
<!--                <div class=invalid th:if="${passwordError != null}">Please enter a valid Password</div>-->
                <div id="message">
                    <label>Password must contain the following:</label>
                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                    <p id="number" class="invalid">A <b>number</b></p>
                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                </div>

                <label><b>firstName</b></label>
                <input type="text" th:field="*{firstName}" class="form-input-field" placeholder="first name" required/>
                <div class="alertextramargin" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error<br/><br/></div>
                <label ><b>lastName</b></label>
                <input type="text" th:field="*{lastName}" class="form-input-field" placeholder="last name" required/>
                <div class="alertextramargin" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error<br/><br/></div>
                <label >Choose account type:</label>
                <select name="fieldRole">
                    <option th:field="*{fieldRole}" value="customer">Customer</option>
                    <option th:field="*{fieldRole}" value="manager">Manager</option>
                </select>
                <h3>Address</h3>
                <input type="text" th:field="*{street}" class="form-input-field" placeholder="street" required/>
                <div class="alertextramargin" th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Name Error<br/><br/></div>
                <input type="text" th:field="*{number}" class="form-input-field" placeholder="number" required/>
                <div class="alertextramargin" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Name Error<br/><br/></div>
                <input type="text" th:field="*{postalCode}" class="form-input-field" placeholder="postal code" required/>
                <div class="alertextramargin" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">Name Error<br/><br/></div>
                <input list="cities" th:field="*{city}" class="form-input-field" placeholder="city" required/>
                <datalist id="cities">
                    <div  th:each="city, iStat : ${cities}">
                        <option name="city" th:value="${city}">date</option>
                    </div>
                </datalist>
                <div class="alertextramargin" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Name Error<br/><br/></div>
                <br>
                <button type="submit" class="form-input-field">Register</button>
                <div class="title">
                    <p>Already have an account? <a href="/login">login</a>.</p>
                </div>

            </form>

        </div>
    </section>
</div>
</body>
</html>
