<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/datepicker.css}" />
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" href="css/bootstrap-grid.css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" href="css/custom.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <body>
    <div class="header-container">
        <div class="header">Booking</div>
    </div>

    <div class="container">
        <section>
            <div class="form-container">
                <form action="#" th:action="@{/postaddNewBooking}" th:object="${bookingRequestHelper}" method="post">
                    <input type="hidden" name="userID"  th:value="${user.user_ID}"/>
                    <input type="hidden" name="restaurantID"  th:value="${business.id}" />
                    <label name="restaurantName"  th:text="${business.name}" />
                    <div th:if="${tableSelectionError != null}" th:text="${tableSelectionError}" class="alert"></div>
                    <div class="title">Please fill in this form to add a booking.</div>
                    <label>Choose Date:</label>
                    <label>
                        <input type="datetime-local" th:field="*{dateTimeString}" class="form-input-field" th:min="*{dateTimeStringMin}" th:max="*{dateTimeStringMax}" required>
                    </label>
                    <div th:if="${tableList != null && !tableList.isEmpty()}">
                        <label>Choose table size:</label>
                        <select th:field="*{tableID}">
                            <option th:each="currenttable, iStat : ${tableList}" th:value="${currenttable.id}" th:text="${currenttable.getNumberOfPlaces()}"></option>
                        </select>
                        <label><b>How many people</b></label>
                        <input type="number" th:field="*{numberCustomers}" class="form-input-field" placeholder="10" required/>
<!--                        <input type="number" th:field="*{tableAmount}" class="form-input-field" placeholder="1" required/>-->
                    </div>
                    <br>
                    <button style="z-index:-1" type="submit" class="registerbtn" th:text="*{buttonChanger}">Save Booking</button>
                </form>

            </div>
        </section>
    </div>
    </body>

</html>