<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" href="css/bootstrap-grid.css" />
        <link th:href="@{/css/style.css}" rel="stylesheet" href="css/custom.css" />
        <title>ServeMe</title>
    </head>
    <body>
        <div class="header-container">
            <div class="header">Bookings</div>
        </div>
        <div class="container">
            <section>
                <div class="info-container">
                    <div th:each="booking, iStat : ${userBookings}" class="row">
                        <div th:text="${booking.getBusiness().getName()}" class="menu-item-name col-9">name</div>
                        <div th:text="${booking}" class="menu-item-description col-12">description</div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>