<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" href="css/bootstrap-grid.css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" href="css/custom.css" />
    <title>Document</title>
</head>
<body>
<div class="header-container">
    <div class="header">ServeMe!</div>
</div>

<div class="container">
    <section>
        <div class="rest-container">
            <div th:each="business : ${businesses}" >
                <a th:href="@{'/business/' + ${business.id}}" class="rest-link row" href="#" style="display: block">
                    <div th:text="${business.getName()}" class="ltitle">Name</div>
                    <p th:text="${business.getDescription()}">Description</p>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="form-container">
            <form th:object="${searchRequest}" th:action="@{/searchRestaurant}" method="get">
                <div class="form-input-field">
                    <label><b>Where:</b></label>
                    <input th:field="*{city}" name="city" list="cities" th:placeholder="*{((city!=null)&&(!city.isEmpty()))}? *{city} :'type and select a city'"/>
                </div>

                <datalist id="cities">
                    <div  th:each="currentcity, iStat : ${cities}">
                        <option name="city" th:value="${currentcity}">date</option>
                    </div>
                </datalist>
                <div class="form-input-field" >
                    <label><b>What:</b></label>
                    <input th:field="*{searchString}" type="text" th:placeholder="*{((searchString!=null)&&(!searchString.isEmpty()))}? *{searchString} : 'put in your search value'" />
                </div>
                <button type="submit" class="form-input-field">Search</button>
            </form>
        </div>
    </section>

</div>
</body>
</html>