<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" href="css/bootstrap-grid.css" />
        <link th:href="@{/css/style.css}" rel="stylesheet" href="css/custom.css" />
        <title>ServeMe</title>
    </head>
    <body>
    <div class="header-container">
        <div class="header">Account</div>
    </div>
    <div class="container">
        <section>
            <div class="button-container">
                <div th:if="${messageSuccess != null}" th:text="${messageSuccess}" class="success"></div>
                <div class="title">Welcom <span th:text="${session.user.name}"></span> <span th:text="${session.user.familyName}"></span></div>
                <a href="logout">LogOut</a>
            </div>
        </section>
        <section>
            <div class="button-container">
                <a href="searchRestaurant">Search Restaurants</a>
                <a href="bookings">Bookings</a>
                <a href="orders">Orders</a>
            </div>
        </section>
        <section th:if="${(session.currentOrderedItemList!=null)&&(session.currentOrderedItemList.size()>0)}">
            <div class="form-container">
                <a class="form-input-field" href="/viewBasket">View Basket</a>
            </div>
        </section>
    </div>
    </body>
</html>