<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" href="css/bootstrap-grid.css" />
    <link th:href="@{/css/style.css}" rel="stylesheet" href="css/custom.css" />
    <title>Document</title>
    <script src="webjars/jquery/3.1.0/jquery.js"></script>
    <style>
        .modal{
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }
        .modal-container{
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        }

    </style>
</head>
<body>

<div class="container">

    <section>
        <div class="info-container">
            <div th:text="${tempName}">Name</div>
            <button id="edit-name-modal-btn">Edit</button>

            <div id="edit-name-modal" class="modal">
                <div class="modal-container">
                    <form th:action="@{/editName}" method="post">
                        <input class="form-input-field" type="text" th:value="${tempName}"  name="name"/>
                        <input  class="form-input-field" type="submit" value="Save"/>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="info-container">
            <div th:text="${tempDescription}">Description</div>
            <button id="edit-description-modal-btn">Edit</button>

            <div id="edit-description-modal" class="modal">
                <div class="modal-container">
                    <form th:action="@{/editDescription}" method="post">
                        <input class="form-input-field" type="text" th:value="${tempDescription}"  name="description"/>
                        <input  class="form-input-field" type="submit" value="Save"/>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="info-container">
            <div th:text="${timeSlot}">Time Slot</div>
            <button id="edit-timeslot-modal-btn">Edit</button>

            <div id="edit-timeslot-modal" class="modal">
                <div class="modal-container">
                    <form th:action="@{/editTimeSlot}" method="post">
                        <input class="form-input-field" type="text" th:value="${timeSlot}"  name="timeSlot"/>
                        <input  class="form-input-field" type="submit" value="Save"/>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="info-container">
            <div class="menu-item-description" th:text="${tempAddress.getStreet()}">Street</div>
            <div class="menu-item-description" th:text="${tempAddress.getHouseNumber()}">number</div>
            <div class="menu-item-description" th:text="${tempAddress.getPostalCode()}">postal</div>
            <div class="menu-item-description" th:text="${tempAddress.getCity()}">city</div>
            <button id="edit-address-modal-btn" >Edit</button>
        </div>

        <div id="edit-address-modal" class="modal">
            <div class="modal-container">
                <form th:object="${tempAddress}" th:action="@{/editAddress}" method="post">
                    <input class="form-input-field" type="text" th:value="${tempAddress.getStreet()}" th:field="*{street}" name="street"/>
                    <input class="form-input-field" type="text" th:value="${tempAddress.getHouseNumber()}" th:field="*{houseNumber}" name="houseNumber"/>
                    <input class="form-input-field" type="text" th:value="${tempAddress.getPostalCode()}" th:field="*{postalCode}" name="postalCode"/>
                    <input class="form-input-field" type="text" th:value="${tempAddress.getCity()}" th:field="*{city}" name="city"/>
                    <input  class="form-input-field" type="submit" value="Save"/>
                </form>
            </div>
        </div>
    </section>

    <section>
        <div class="menu-item" th:each="menuItem, itemStat : ${tempMenuItemSet.menuItems}">
            <div th:text="${menuItem.getName()}"></div>
            <div th:text="${menuItem.getPrice()}"></div>
            <div th:text="${menuItem.getDescription()}"></div>
            <a href="#" class="button">Edit</a>
            <a href="#" th:href="@{'/menuItem/' + ${menuItem.id} + '/delete'}" class="button">Remove</a>

            <div class="modal">
                <form th:action="@{/menuItem/update}"
                      th:object="${menuItem}"
                      action="#"
                      method="post">
                    <input hidden th:name="|menuItems[${itemStat.index}].id|" th:value="${menuItem.getId()}"/>
                    <input th:name="|menuItems[${itemStat.index}].name|" th:value="${menuItem.getName()}"/>
                    <input th:name="|menuItems[${itemStat.index}].price|" th:value="${menuItem.getPrice()}"/>
                    <input th:name="|menuItems[${itemStat.index}].description|" th:value="${menuItem.getDescription()}"/>
                    <input type="submit" th:value="Save">
                </form>
            </div>
        </div>
        <div class="menu-item">
            <a href="#" class="button">Create MenuItem</a>
            <div class="modal">
                <form th:action="@{/menuItem/create}"
                      th:object="${newMenuItem}"
                      action="#"
                      method="post">
                    <input th:field="*{name}" type="text"/>
                    <input th:field="*{price}" type="text"/>
                    <input th:field="*{description}" type="text"/>
                    <input type="submit" th:value="Create">
                </form>
            </div>
        </div>
    </section>

    <section>
        <div class="table" th:each="table, itemStat : ${tempTableSet.tables}">
            <div th:text="${table.getTableNumber()}"></div>
            <div th:text="${table.getNumberOfPlaces()}"></div>
            <a href="#" class="button">Edit</a>
            <a href="#" th:href="@{'/table/' + ${table.getId()} + '/delete'}" class="button">Remove</a>

            <div class="modal">
                <form th:action="@{/table/update}"
                      th:object="${table}"
                      action="#"
                      method="post">
                    <input hidden th:name="|tables[${itemStat.index}].id|" th:value="${table.getId()}"/>
                    <input th:name="|tables[${itemStat.index}].tableNumber|" th:value="${table.getTableNumber()}"/>
                    <input th:name="|tables[${itemStat.index}].numberOfPlaces|" th:value="${table.getNumberOfPlaces()}"/>
                    <input type="submit" th:value="Save">
                </form>
            </div>
        </div>
        <div class="menu-item">
            <a href="#" class="button">Create Table</a>
            <div class="modal">
                <form th:action="@{/table/create}"
                      th:object="${newTable}"
                      action="#"
                      method="post">
                    <input th:field="*{tableNumber}" type="text"/>
                    <input th:field="*{numberOfPlaces}" type="text"/>
                    <input type="submit" th:value="Create">
                </form>
            </div>
        </div>
    </section>


    <a href="/create/Business">Save Business</a>
</div>

<script>

    //EDIT NAME
    let editNameModal    = document.getElementById("edit-name-modal");
    let editNameModalBtn = document.getElementById("edit-name-modal-btn");
    editNameModalBtn.onclick = function(){
        editNameModal.style.display = "block";
        console.log("HELLO");
    }

    //EDIT ADDRESS
    let editDescriptionModal    = document.getElementById("edit-description-modal");
    let editDescriptionModalBtn = document.getElementById("edit-description-modal-btn");
    editDescriptionModalBtn.onclick = function(){
        editDescriptionModal.style.display = "block";
    }
    //EDIT TIME SLOT
    let editTimeSlotModal    = document.getElementById("edit-timeslot-modal");
    let editTimeSlotModalBtn = document.getElementById("edit-timeslot-modal-btn");
    editTimeSlotModalBtn.onclick = function(){
        editTimeSlotModal.style.display = "block";
    }


    //EDIT ADDRESS
    let editAddressModal    = document.getElementById("edit-address-modal");
    let editAddressModalBtn = document.getElementById("edit-address-modal-btn");
    editAddressModalBtn.onclick = function(){
        editAddressModal.style.display = "block";
    }



    //EDIT MENU-ITEM
    let menuItems = document.getElementsByClassName("menu-item");
    Array.from(menuItems).forEach( element => {
        let editMenuItemModal    = element.querySelector(".modal");
        let editMenuItemModalBtn = element.querySelector(".button");
        editMenuItemModalBtn.onclick = function(){
            editMenuItemModal.style.display = "block";
        }
    });

    //EDIT TABLES
    let tables = document.getElementsByClassName("table");
    Array.from(tables).forEach( element => {
        let editTableModal    = element.querySelector(".modal");
        let editTableModalBtn = element.querySelector(".button");
        editTableModalBtn.onclick = function(){
            editTableModal.style.display = "block";
        }
    });

    //CLOSE MODALS
    window.onclick = function (event) {
        let element = event.target;
        if (element.classList.contains("modal")){
            element.style.display = "none";
        }
    }

    document.addEventListener("DOMContentLoaded", function(event) {
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });
    window.onbeforeunload = function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };

</script>

</body>
</html>
